<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hailo Safer Roads</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
</head>


<body>
  <header>
      <nav>
          <img src="{{ url_for('static', filename='HAILO_LOGO.PNG') }}" class="logo">
          <h4 class="slogan">Smart Insights for Safer Roads</h4>
      </nav>
  </header>

  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn"><img src="{{ url_for('static', filename='down.svg') }}"></button>
    <div id="myDropdown" class="dropdown-content">
      <ul>
        <li>
          <a href="#">Driver Intention</a>

          <div class="item">
            <input id="turning-left" class="inline" type="checkbox">
            <label class="label" for="turning-left">Turning Left</label>
          </div>

          <div class="item">
            <input id="turning-right" class="inline" type="checkbox">
            <label class="label" for="turning-right">Turning Right</label>
          </div>

          <div class="item">
            <input id="driving-straight" class="inline" type="checkbox">
            <label class="label" for="driving-straight">Driving Straight</label>
          </div>

        </li>


        <li><a href="#">Light Conditions</a>

          <div class="item">
            <input class="inline" type="checkbox">
            <label class="label" for="turning-left">Low Light</label>
          </div>

          <div class="item">
            <input class="inline" type="checkbox">
            <label class="label" for="turning-left">Medium Light</label>
          </div>

          <div class="item">
            <input class="inline" type="checkbox">
            <label class="label" for="turning-left">High Light</label>
          </div>

        </li>

        <li><a href="#">Time of Day</a>

          <div class="item">
            <input class="inline" type="checkbox">
            <label class="label" for="turning-left">Morning</label>
          </div>

          <div class="item">
            <input class="inline" type="checkbox">
            <label class="label" for="turning-left">Afternoon</label>
          </div>

          <div class="item">
            <input class="inline" type="checkbox">
            <label class="label" for="turning-left">Night</label>
          </div>

        </li>

  
      </ul>

      <div class="notes">
        <p>Please Note: Filtering system in development. Search area for All Results on map viewport.</p>
      </div>
    </div>
  </div>

  <button class="search" onclick="onSearchButtonClick()">Search this area</button>

  <div id="map">
  </div>

<div class="ai-insights">
    <div id="ai-response"></div>
<br>

<button class="submit" onclick="askGemini()">Get AI Report</button>



<button id="pdf" class="submit wip">Export PDF</button>

<img id="loading" class="loading" src="{{ url_for('static', filename='loading.gif') }}">
<br>
<p  class="pdf">Please Note: Export PDF Function in Development. Response loads in browser for now.</p>

</div>

  </body>

  <script src="{{ url_for('static', filename='js/index.js')}}"></script>
  <script src="{{ url_for('static', filename='js/map.js')}}"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</html>


